__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

.DS_Store
.vscode/
.idea/

backend/storage/datasets/*
backend/storage/models/*
backend/storage/plots/*

!backend/storage/datasets/.gitkeep
!backend/storage/models/.gitkeep
!backend/storage/plots/.gitkeep

*.log
*.pdf

.env
