__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.env
.venv
venv/

.DS_Store
.vscode/
.idea/

storage/datasets/*
storage/models/*
storage/plots/*

!storage/datasets/.gitkeep
!storage/models/.gitkeep
!storage/plots/.gitkeep

*.log
*.pdf

.env
catboost_info/